<!-- Control for the 'Camera' component type -->
<div class="control-box col-md-12"  ng-controller="CanvasCtrl" ng-init="init(elementInfo)">

    <panel heading="{{elementInfo.name}} (Camera)">

        <button type="button" class="btn btn-default" ng-click="mode(0)">Off</button>
        <button type="button" class="btn btn-default" ng-click="mode(1)">On</button>
        <button type="button" class="btn btn-default" ng-click="mode(2)">Droplet</button>
        <div class="alert alert-info">Droplet speed: {{dropletspeed}}</div>
        <canvas id="{{elementInfo.name}}_canvas" width='320' height='240'></canvas>

    </panel>

</div>
