<!-- Control for the 'ErrorDisplayCtrl' component type -->
<div class="control-box col-md-12" ng-controller="ErrorDisplayCtrl" ng-init="init(elementInfo)">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">ErrorDisplay</h3>
    </div>
    <div class="panel-body">
      <div ng-show="errorMessage" class="alert alert-danger">
        <span ng-click="errorMessage = ''" class="glyphicon glyphicon-remove"></span>
        {{errorMessage}}
      </div>
      <p ng-hide="errorMessage">
        No error messages
      </p>
    </div>
  </div>

</div>
