<!-- Control for the 'IntegerCoderCtrl' component type -->
<div class="control-box col-md-12" ng-init="init(elementInfo)">

    <panel heading="RucolaCoder">
      <form class="form-inline" role="form">
        <div class="form-group col-md-10">
          <textarea ui-ace="{ mode: 'csharp' }" ng-model="rucolacode"></div>
        </div>
        <div class="form-group col-md-2">
          <button ng-click="sendRucolaCode()" class="btn btn-default">Run code</button>
          <button ng-click="sendRucolaClear()" class="btn btn-default">Clear</button>
        </div>

        <div class="form-group col-md-2">
            <button ng-click="sendRucolaCode()" class="btn btn-default">
                <span class="glyphicon glyphicon-question-sign"></span></button>
        </div>

      </form>
      <div>
        <div class="col-md-12 console-container">
          <label>Output:</label>
          <textarea class="form-control" rows="6" ng-model="output" disabled="disabled"></textarea>
          <button ng-click="clearOutput()" class="btn btn-default">Clear output</button>
        </div>
      </div>

    </panel>

</div>
