<!-- Control for the 'IntegerCoderCtrl' component type -->
<div class="control-box col-md-12" ng-controller="RucolaCoderCtrl" ng-init="init(elementInfo)">
  <style>
    .ace_editor {
        height: 200px;
    }
  </style>
  <h1>Rucola Coder</h1>
  <form class="form-inline" role="form">
      <div class="form-group col-md-10">
          <div ui-ace="{ theme: 'ace/theme/monokai', mode: 'csharp' }" ng-model="rucolacode"></div>
      </div>
      <button ng-click="sendRucolaCode()" class="btn btn-primary">Send</button>
  </form>
</div>
