<div class="control-box col-md-12" ng-controller="ScannerCtrl" ng-init="init(elementInfo)">
  <h1>{{elementInfo.name}}</h1>
  <form class="form" role="form" ng-submit="scannersubmit()">
      <img ng-src="{{scannedimg}}" ng-show="scannedimg"></img>
      <div class="alert alert-success" ng-show="scanTime">Scan time: {{scanTime | number:2}} seconds</div>
      <div class="form-group">
          <label>Step Size</label>
          <input type="text" class="form-control" ng-model="scanner.stepsize" required>
          </input>
      </div>
      <div class="form-group">
          <label>Sleep between images</label>
          <input type="text" class="form-control" ng-model="scanner.sleep" required>
          </input>
      </div>
      <div class="form-group">
          <label>Start(x,y)</label>
          <input type="text" class="form-control"
          ng-model="scanner.start.x" required></input>
          <input type="text" class="form-control"
          ng-model="scanner.start.y" required></input>
      </div>
      <div class="form-group">
          <label>Stop(x,y)</label>
          <input type="text" class="form-control"
          ng-model="scanner.stop.x" required></input>
          <input type="text" class="form-control"
          ng-model="scanner.stop.y" required></input>
      </div>
      <!-- Algorithm  0: indbygget, 1: position based-->
      <div class="form-group">
          <label>Algorithm</label>
          <div class="radio">
              <label>
                  <input type="radio" ng-model="scanner.algorithm"
                  value="0"></input>
                  OpenCV image stitching
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" ng-model="scanner.algorithm"
                  value="1"></input>
                  OpenCV image stitching with position considerations
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" ng-model="scanner.algorithm"
                  value="2"></input>
                  Position based image stitching
              </label>
          </div>
      </div>
      <div class="form-group">
          <input type="submit" class="form-control btn btn-default"></input>
      </div>
  </form>
</div>
