<div class="control-box col-md-12" ng-controller="ScannerCtrl" ng-init="init(elementInfo)">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{elementInfo.name}} (Scanner)</h3>
    </div>
    <div class="panel-body">
      <form class="form-inline" role="form" ng-submit="scannersubmit()">
          <img ng-src="{{scannedimg}}" ng-show="scannedimg"></img>
          <div class="alert alert-success" ng-show="scanTime">Stitching time: {{scanTime | number:2}} seconds</div>


          <!-- Step size -->
          <div class="row">
            <div class="col-md-2">
              <label>Step size:</label>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control form-control-number" ng-model="scanner.stepsize" required></input>
            </div>
          </div>

          <!-- Sleep time -->
          <div class="row">
            <div class="col-md-2">
              <label>Sleep time between images:</label>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control form-control-number" ng-model="scanner.sleep" required></input> ms
            </div>
          </div>

          <!-- Start position -->
          <div class="row">
            <div class="col-md-2">
              <label>Start position:</label>
            </div>
            <div class="col-md-10">
              x: <input type="text" class="form-control form-control-number" ng-model="scanner.start.x" required></input>
              y: <input type="text" class="form-control form-control-number" ng-model="scanner.start.y" required></input>
            </div>
          </div>

          <!-- End position -->
          <div class="row">
            <div class="col-md-2">
              <label>End position:</label>
            </div>
            <div class="col-md-10">
              x: <input type="text" class="form-control form-control-number" ng-model="scanner.stop.x" required></input>
              y: <input type="text" class="form-control form-control-number" ng-model="scanner.stop.y" required></input>
            </div>
          </div>

          <!-- Algorithm -->
          <div class="row">
            <div class="col-md-2">
              <label>Algorithm:</label>
            </div>
            <div class="col-md-10">
              <div class="radio">
                  <label>
                      <input type="radio" ng-model="scanner.algorithm"
                      value="0"></input>
                      Image features only
                  </label>
              </div>
              <div class="radio">
                  <label>
                      <input type="radio" ng-model="scanner.algorithm"
                      value="1"></input>
                      Image features + position
                  </label>
              </div>
              <div class="radio">
                  <label>
                      <input type="radio" ng-model="scanner.algorithm"
                      value="2"></input>
                      Position only
                  </label>
              </div>
            </div>
          </div>

          <!-- Submit -->
          <div class="row">
            <div class="col-md-10 col-md-offset-2">
              <input type="submit" class="btn btn-default" value="Scan"></input>
            </div>
          </div>

      </form>
    </div>
  </div>

</div>
