<!-- Control for the 'XYAxes' component type -->
<div class="control-box col-md-12" ng-controller="XYAxesCtrl" ng-init="init(elementInfo)">

    <panel heading="{{elementInfo.name}} (XYAxes)">

      <div class="row"> 
        <!-- Control buttons -->
        <div class="col-md-2">
          <label>Controls:</label>
        </div>
        <div class="col-md-10">
          <!-- Button for homing -->
          <span class="glyphicon glyphicon-home"
            ng-click="home()"></span>

          <!-- Buttons for moving along the axes -->
          <span class="glyphicon glyphicon-arrow-left nav-arrow"
            ng-click="moveBy(-movementAmount, 0)"></span>

          <span class="glyphicon glyphicon-arrow-down nav-arrow"
            ng-click="moveBy(0, -movementAmount)"></span>

          <span class="glyphicon glyphicon-arrow-up nav-arrow"
            ng-click="moveBy(0, movementAmount)"></span>

          <span class="glyphicon glyphicon-arrow-right nav-arrow"
            ng-click="moveBy(movementAmount, 0)"></span>
        </div>
      </div>

      <!-- Movement amount -->
      <div class="row">
        <div class="col-md-2">
          <label>Movement amount (per click):</label>
        </div>
        <div class="col-md-10">
          <input class="form-control form-control-number" type="text" ng-model="movementAmount" />
        </div>
      </div>

      <!-- Set position -->
      <div class="row">
        <div class="col-md-2">
          <label>Set position:</label>
        </div>
        <div class="col-md-10">
          <form class="form-inline" role="form">
            x: <input class="form-control form-control-number" type="text" ng-model="newPosition.x" ng-keypress="keyPressEvent($event)" />
            y: <input class="form-control form-control-number" type="text" ng-model="newPosition.y" ng-keypress="keyPressEvent($event)" />
            <button class="btn btn-default" ng-click="moveTo(newPosition.x, newPosition.y)">Set</button>
          </form>
        </div>
      </div>

      <!-- Current position -->
      <div class="row">
        <div class="col-md-2">
          <label>Current position:</label>
        </div>
        <div class="col-md-10">
          ({{currentPosition.x}}, {{currentPosition.y}})
        </div>
      </div>

    </panel>
</div>
